<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>MoreThanEDU</title>
</head>
<body>
    <div class="topnav">
        <a href="/"><img src="/static/img/logo.png" alt="Logo" class="logo"></a>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>    
        <div class="navright">
            <div class="dropdown">
                <a href="#">회사소개<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                <div class="dropdown-content">
                    <a href="#">대표소개</a>
                    <a href="#">비전 및 경영철학</a>
                    <a href="#">조직도</a>
                    <a href="#">오시는길</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#">사업소개<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                <div class="dropdown-content">
                    <a href="#">Attendify</a>
                </div>
            </div>
            <a href="#">프로모션</a>
            <a href="#">자료실</a>
            <div class="dropdown">
                <a href="#">고객센터<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                <div class="dropdown-content">
                    <a href="#">공지사항</a>
                    <a href="#">자주하는질문</a>
                    <a href="#">도입/견적문의</a>
                </div>
            </div>
        </div>
    </div>

    <div class="banner">
        <img class="bannerimg" src="/static/img/banner.jpg">
        <h1 class="main_image_text">모어댄에듀</h1>
        <span class="des_image_text">차별화된 소프트웨어로 교육의 경계를 혁신하는 기업</span>
        <span class="des_image_text_m"><center>차별화된 소프트웨어로<br>교육의 경계를 혁신하는 기업</center></span>
    </div>

    <div class="button-container">
        <button class="button">자주하는질문</button>
        <button class="button">원격지원요청</button>
        <button class="button">견적/도입문의</button>
    </div>

    <div class="midtitle">
        <center><h1 class="title">사업소개</h1></center>
    </div>

    <div class="section">
        <div class="project">
            <span>Service 1</span>
            <h1>Attendify 어텐디파이</h1>
            <div class="description">
                <img src="static/img/1.png">
                <div class="repim">
                    <center><img src="static/img/attendify.png"></center>
                    <h1>모두를 위한 출석체크 서비스, Attendify</h1>
                    <span>Attendify는 학교(초.중.고 및 대학교), 학원, 영재교육원 등 출석체크가 필요한 모든 상황에 사용할 수 있는 온라인 출석체크 서비스입니다. 라이트 버전은 아무런 결제 없이 누구나 사용할 수 있으며, 프로 버전은 결제 후 좀 더 다양한 기능이 제공됩니다. 기존의 프로그램과는 웹 버전으로서 훨씬 편하고 간단하다는 차별성을 자랑합니다.</span>
                    <center><a href="/contact/1" class="chat-button">더 알아보기</a></center>
                </div>
            </div>
        </div>
    </div>

    <div class="midtitle">
        <center><h1 class="title">고객센터</h1></center>
    </div>

    <div class="contact">
        <div class="container">
            <h1>고객센터 문의는 채팅을 통해 가능합니다</h1>
            <a href="https://o3j6z.channel.io/home" class="chat-button">채팅 상담하기</a>
            <p>채팅 상담 답변이 늦어질 수 있습니다. 학생 2인이 운영하는 기업임을 양해 부탁드립니다.</p>
        </div>
    </div>
    
</body>
<footer>
    <div class="info">
        <p>모어댄에듀 공동대표 김률, 한승우 / 전화 010-8850-1571 / 서울시 성동구 독서당로 343 금호삼성래미안아파트 101동 802호 / 이메일 hanwoo0104@naver.com</p>
        <p>Copyrights © 2024 MoreThanEDU All right reserved.</p>
    </div>
</footer>
</html>